
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/OswaldBold.ttf"); font-family : "Oswald"; font-weight : 700;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/OswaldRegular.ttf"); font-family : "Oswald"; font-weight : 400;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/OswaldSemiBold.ttf"); font-family : "Oswald"; font-weight : 600;  }